@font-face {
    font-family: 'Stolzl-L';
    src: url('../css/font/Stolzl/Stolzl-Light.eot');
    src: local('Stolzl Light'), local('Stolzl-Light'),
    url('../css/font/Stolzl/Stolzl-Light.eot?#iefix') format('embedded-opentype'),
    url('../css/font/Stolzl/Stolzl-Light.woff2') format('woff2'),
    url('../css/font/Stolzl/Stolzl-Light.woff') format('woff'),
    url('../css/font/Stolzl/Stolzl-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl-T';
    src: url('../css/font/Stolzl/Stolzl-Thin.eot');
    src: local('Stolzl Thin'), local('Stolzl-Thin'),
    url('../css/font/Stolzl/Stolzl-Thin.eot?#iefix') format('embedded-opentype'),
    url('../css/font/Stolzl/Stolzl-Thin.woff2') format('woff2'),
    url('../css/font/Stolzl/Stolzl-Thin.woff') format('woff'),
    url('../css/font/Stolzl/Stolzl-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl-Book';
    src: url('../css/font/Stolzl/Stolzl-Book.eot');
    src: local('Stolzl Book'), local('Stolzl-Book'),
    url('../css/font/Stolzl/Stolzl-Book.eot?#iefix') format('embedded-opentype'),
    url('../css/font/Stolzl/Stolzl-Book.woff2') format('woff2'),
    url('../css/font/Stolzl/Stolzl-Book.woff') format('woff'),
    url('../css/font/Stolzl/Stolzl-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl-R';
    src: url('../css/font/Stolzl/Stolzl-Regular.eot');
    src: local('Stolzl Regular'), local('Stolzl-Regular'),
    url('../css/font/Stolzl/Stolzl-Regular.eot?#iefix') format('embedded-opentype'),
    url('../css/font/Stolzl/Stolzl-Regular.woff2') format('woff2'),
    url('../css/font/Stolzl/Stolzl-Regular.woff') format('woff'),
    url('../css/font/Stolzl/Stolzl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl-B';
    src: url('../css/font/Stolzl/Stolzl-Bold.eot');
    src: local('Stolzl Bold'), local('Stolzl-Bold'),
    url('../css/font/Stolzl/Stolzl-Bold.eot?#iefix') format('embedded-opentype'),
    url('../css/font/Stolzl/Stolzl-Bold.woff2') format('woff2'),
    url('../css/font/Stolzl/Stolzl-Bold.woff') format('woff'),
    url('../css/font/Stolzl/Stolzl-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl-M';
    src: url('../css/font/Stolzl/Stolzl-Medium.eot');
    src: local('Stolzl Medium'), local('Stolzl-Medium'),
    url('../css/font/Stolzl/Stolzl-Medium.eot?#iefix') format('embedded-opentype'),
    url('../css/font/Stolzl/Stolzl-Medium.woff2') format('woff2'),
    url('../css/font/Stolzl/Stolzl-Medium.woff') format('woff'),
    url('../css/font/Stolzl/Stolzl-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo-M';
    src: url('../css/font/Navigo/Navigo-Medium.eot');
    src: local('Navigo Medium'), local('Navigo-Medium'),
    url('../css/font/Navigo/Navigo-Medium.eot?#iefix') format('embedded-opentype'),
    url('../css/font/Navigo/Navigo-Medium.woff2') format('woff2'),
    url('../css/font/Navigo/Navigo-Medium.woff') format('woff'),
    url('../css/font/Navigo/Navigo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Navigo-L';
    src: url('../css/font/Navigo/Navigo-Light.eot');
    src: local('Navigo Light'), local('Navigo-Light'),
    url('../css/font/Navigo/Navigo-Light.eot?#iefix') format('embedded-opentype'),
    url('../css/font/Navigo/Navigo-Light.woff2') format('woff2'),
    url('../css/font/Navigo/Navigo-Light.woff') format('woff'),
    url('../css/font/Navigo/Navigo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

